{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- contact_edit.html -->
{% include "member/member.html" %}
<div class="column">
    <div id="edit">
        <form method="post" action=".">
        {% for field in form %}
        <p class="info">{{ field.label_tag }}</p>
        <p>{{ field }}<br/></p>
        {% if field.help_text %}<p>{{ field.help_text }}</p>{% endif %}
        {% if field.errors %}<p class="myerrors">{{ field.errors }}</p>{% endif %}
        {% endfor %}
        <input class="submit" type="image" src="/site_media/images/submit.png" />
        </form>
    </div>
</div>
<br clear="all" />
<!-- contact_edit.html -->
{% endblock %}
