<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Partido Pirata - Administración</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Your website description goes here" />
<meta name="keywords" content="Partido, Político, España, Pirata, Derechos" />
<link rel="stylesheet" href="/site_media/backup-style.css" type="text/css" media="screen,projection" />
</head>

<body>
<div id="container" >

<div id="header">
    <div id="logo">
        <img src="/site_media/images/pirata.png" />
    </div>
	<h1>Partido Pirata</h1>
	<h2>PIRATA: del griego, "esforzarse", "tratar de", "intentar la fortuna en las aventuras"</h2>
</div>

<div id="navigation">
	<ul>
		<li><a class="selected" href="#" title="">Inicio</a></li>
		<li><a href="#" title="">Afiliados</a></li>
		<li><a href="#" title="">Correos</a></li>
		<li><a href="#" title="">Votaciones</a></li>
		<li><a href="#" title="">Dominios</a></li>
		<li><a href="#" title="">Tienda</a></li>
	</ul>
</div>

<div id="content">
	<h2>Bienvenido a la web de administración de PIRATA</h2>
	<p>Este sito intentará cubrir las necesidades para la administración de datos y servicios del Partido Pirata, de sus afiliados y de sus simpatizantes. Esta web constituye un servicio más de PIRATA y será desarrolloda bajos una filosofía Open Source.</p>
	<p>Dependiendo de su nivel de autorización podrá acceder a más o menos información, administrar servicios, participar en votaciones, etc.</p>

<div class="splitcontentleft">
	<h2>Paneles de estado</h2>
<div class="box">
	<h3>Servidor Principal</h3>
  <ul>
    <li>Funcionando corréctamente</li>
    <li>Disco al 5%</li>
    <li>Carga al 3%</li>
  </ul>
<a href="#">Más...</a>
</div>
<div class="box">
  <h3>Estadísticas</h3>
  <ul>
    <li>Afiliados y simpatizantes</li>
    <li>Visitas</li>
    <li>Uso de servicios</li>
    <li>Votaciones</li>
    <li>Tienda</li>
  </ul>
<a href="#">Más...</a>
</div>
<div class="box">
  <h3>Pendientes (administradores)</h3>
  <ul>
    <li>Correos</li>
    <li>Afiliados</li>
    <li>Pedidos</li>
    <li>Mensajes</li>
  </ul>
<a href="#">Más...</a>
</div>
</div>
<div class="splitcontentright">
<h2>Comienza la andadura</h2>
<p>En PIRATA queremos dar el mejor servicio posible y tener buenas herramientas para gestionar la información. Queremos liderar también la forma de entender Internet, los Derechos de los Ciudadanos y las Nuevas Tecnologías en relación con la política española.</p>
<p>El DIP o Departamento de Informática de PIRATA irá anunciando los avances en la implantación de servicios y herramientas dentro del Partido puntualmente y esperamos que sean del agrado de todos.</p>
<p>La líneas básicas de nuestros desarrollos serán:</p>
<ul>
<li>Uso de Software Libre</li>
<li>Desarrollos abiertos</li>
<li>Lenguajes dinámicos</li>
<li>Infraestructuras web ágiles</li>
<li>Repositorios de software</li>
<li>Sistemas de Tickets</li>
<li>Seguridad</li>
</ul>
<a href="#">Más...</a>
<br /><br /> 
</div>
</div>
<div id="subcontent">
<div class="small box">
<img src="/site_media/images/map.jpg" alt="map" />
<h2>Partido Pirata</h2>
En PIRATA queremos contar contigo. Hay muchas razones para pertener a PIRATA. ¡Busca la tuya e implícate!
</div>
<div class="small box">
	<h2>De obligada lectura...</h2>
	<ul>
<li><a href="#" title="">¿Cómo puedo afiliarme?</a></li>
<li><a href="#" title="">¿Que es DIP?</a></li>
<li><a href="#" title="">Algo va mal, ¿cómo puedo informar?</a></li>
</ul>
</div>
<h2>Desarrollos</h2>
<ul class="menublock">
<li><a href="#" title="">Web de administración</a></li>
<li><a href="#" title="">Sistema de votación</a></li>
</ul>
<br />
<div id="searchbar"><h2>Buscar</h2>
	<form method="post" action="/">
	<p><input class="searchfield" name="search_query" type="text" id="keywords" value="" /></p>
	<p><input class="searchbutton" name="submit" type="submit" value="Buscar" /></p>
	</form>
</div>

</div>

<div id="footer">
	<p>&copy; 2007 <a href="http://www.partidopirata.es">Partido Pirata</a> &middot; <a href="http://www.kendahlin.com/" title="Ken Dahlin">Diseño de Ken Dahlin</a></p>

</div>

</div>
</body>
</html>