<!-- invitation_complete.html -->
{% extends "base.html" %}
{% block title %}Registro completado{% endblock %}
{% block content_header %}Registro completado{% endblock %}
{% block content %}
<div class="column"></div>
<div class="column">
    <img id="info_image" src="/site_media/images/send_mail.png" alt="mail image">
    <p>Ha sido enviado un correo.</p>
    <br/>
    <p><a href="/admin/">Volver al principio.</a></p>
</div>
<div class="column"></div>
{% endblock %}
<!-- end invitation_complete.html -->
