body {    text-align:center;
    background-color: black;
    font-family:trebuchet ms, helvetica, arial;
    color: #ccc;}#frame {	margin-top:10px;
	margin-left: auto;
	margin-right: auto;	padding:0px;	text-align:left;
	width: 760px;}	#contentleft {	width:211px;
	margin:10px;	padding:9em 10px 10px 10px;	float:left;}#contentcenter {	width:211px;
	margin:10px;	padding:9em 10px 10px 10px;	float:left;}#contentright {	width:211px;
	margin:10px;	padding:9em 10px 10px 10px;	float:left;}p,h1,pre {	margin:10px;}	h1 {	font-size:1.5em;	padding-top:10px;}	#contentheader h1 {		font-size:14px;	padding:10px;	margin:0px;	}

#love {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1em;
   width: 440px;
}
.info {
    font-size: .7em;
    color: #efc300;
}

.submit {
    display: block;
    float: right;
    width: 122px;
    height: 59px;
}

input {
   border: 0px;
   float: left;
   width: 160px;
   margin-bottom: 1em;
}